# Python
*.pyc
__pycache__/

# Virtual environment
venv/
env/
*.env

# Django
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3
db.sqlite3
*.bak
*.swp

# Django migrations
*/migrations/*
!*/migrations/__init__.py

# IDEs and editors
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
